<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPFS21.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPFS21.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPFS2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPFS21.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputC18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputASM30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputC32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>True</value>
            </setting>
        </MPFS21.Properties.Settings>
        <MPFS21.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>C:\Microchip Solutions\TCPIP Demo App\WebPages2</value>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value>C:\Microchip Solutions\TCPIP Demo App\MPFSImg2.bin</value>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value>C:\Microchip Solutions\TCPIP Demo App</value>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value>MPFSImg2</value>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DynamicFiles" serializeAs="String">
                <value>*.htm, *.html, *.cgi, *.xml</value>
            </setting>
            <setting name="NoCompressFiles" serializeAs="String">
                <value>*.inc, snmp.bib</value>
            </setting>
            <setting name="ReserveBlockClassic" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UploadAddress" serializeAs="String">
                <value>MCHPBOARD</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>mpfsupload</value>
            </setting>
            <setting name="UploadUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UploadPass" serializeAs="String">
                <value>microchip</value>
            </setting>
        </MPFS21.Settings>
        <MPFS2.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>C:\Microchip Solutions\TCPIP Demo App\WebPages2</value>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value>C:\Microchip Solutions\TCPIP Demo App\MPFSImg2.bin</value>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value>C:\Microchip Solutions\TCPIP Demo App</value>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value>MPFSImg2</value>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DynamicFiles" serializeAs="String">
                <value>*.htm, *.html, *.cgi, *.xml</value>
            </setting>
            <setting name="NoCompressFiles" serializeAs="String">
                <value>*.inc, snmp.bib</value>
            </setting>
            <setting name="ReserveBlockClassic" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UploadAddress" serializeAs="String">
                <value>MCHPBOARD</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>mpfsupload</value>
            </setting>
            <setting name="UploadUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UploadPass" serializeAs="String">
                <value>microchip</value>
            </setting>
        </MPFS2.Settings>
    </userSettings>
</configuration>